<!DOCTYPE html>
<html>
<body>

    <h2>HTML Forms</h2>

    <form action="">

        <label for="lname">Email:</label><br>
        <input type="email" id="email" name="email" value=""><br><br>
        @*<label for="lname">Password:</label><br>
        <input type="password" id="Password" name="password" value=""><br><br>
        <label for="lname">ConfirmPassword:</label><br>
        <input type="password" id="ConfirmPassword" name="password" value=""><br><br>*@


        <input type="submit" id="button" value="SignUp">
    </form>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>
        $(document).ready(function () {
            console.log('log')
        })
       
        $("#button").click(function (e) {
            e.preventDefault()  
            var email = $('#email').val()
            //var Password = $('#Password').val()
            //var ConfirmPassword = $('#ConfirmPassword').val()


            var data = {
                email: email
                //Password: Password,
                //ConfirmPassword: ConfirmPassword
            }
            console.log(data)
            $.ajax({
                type: 'POST',
                url: "/Register/RegisterEmployee",
                data: data,
                success: function () {
                    alert("Employee Register Successfully")
                },
                error: (function (err) {
                    console.log(err)
                    alert(err.responseJSON.message)
                })
              })
             })
        </script>
     </body>
</html>