<!DOCTYPE html>
<html>
<body>

    <h2>HTML Forms</h2>

    <form action="">


        <label for="lname">Email:</label><br>
        <input type="email" id="email" name="email" value=""><br><br>
        <label for="lname">Password:</label><br>
        <input type="password" id="password" name="password" value=""><br><br>
        <div id="msg">Invalid Email or Password </div>

        <input type="submit" id="button" value="SignIn">
        <input type="submit" id="button" value="ForgetPassword">
        <input type="submit" id="button" value="SignUp">
    </form>




    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>
        $(document).ready(function () {
        })

        $("#msg").hide()

        $("#button").click(function (e) {
            e.preventDefault()
            var email = $('#email').val()
            var password = $('#password').val()


            var data = {
                email: email,
                password: password
            }
           
            $.ajax({
                type: 'POST',
                url: "/Login/LoginEmp",
                data: data,
                success: function () {
                    alert("Employee Login Successfully")
                },
                error: (function (err) {
                    setTimeout(function () { $("#msg").show(); }, 3000);
                })
            })
        })
    </script>




</body>
</html>