@model RegistrationModule_WebApp.Models.ResetPasswordViewModel;

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Reset Password</title>
</head>
<body>
    <h1>Reset your password</h1>
    <form>
        <input type="hidden" id="validtoken" name="Token" value="@Model.Token" />
        <input type="hidden" id="validemail" name="Email" value="@Model.Email" />
        <table>
            <tr>
                <td>
                    New Password
                </td>
                <td>
                    <input type="password" id="newpassword" name="@Model.NewPassword" />
                </td>
            </tr>
            <tr>
                <td>
                    Confirm Password
                </td>
                <td>
                    <input type="password" id="confirmpassword" name="@Model.ConfirmPassword" />
                </td>
            </tr>
            <tr>
                <td>
                    <button type="button" id="btnResetPassword">Submit</button>
                </td>
            </tr>
        </table>
    </form>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <script>




        $("#btnResetPassword").click(function (e) {
            e.preventDefault()
            var validtoken = $('#validtoken').val()
            var validemail = $('#validemail').val()
            var newpassword = $('#newpassword').val()
            var confirmpassword = $('#confirmpassword').val()



            var data = {
                token: validtoken,
                email: validemail,
                newpassword: newpassword,
                confirmpassword: confirmpassword,
            }

            $.ajax({
                type: 'POST',
                url: "/Forget/ResetPassword",
                data: data,
                success: function () {
                    alert(" Password has been Reset successfully!")
                },
                error: (function (err) {
                    console.log(err)
                    alert('something went to wrong')
                })
            })
        })


    </script>
</body>
</html>

