<!doctype html>
<html>
<body>

    <h2>html forms</h2>

    <form action="">

        <label for="fname">email:</label><br>
        <input type="email" id="email" name="email" value=""><br>
  
        <input type="submit" id="button" value="signin">
    </form>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>
        $(document).ready(function () {
        })

        $("#button").click(function (e) {
            e.preventDefault()
            var email = $('#email').val()
           

            var data = {
                email: email
                
            }
           
            $.ajax({
                type: 'post',
                url: "/Forget/ForgetPassword",
                data: data,
                success: function () {
                    alert("Employee Confirm successfully please chcke you Email, Reset password URL has been sent to the email successfully!")
                },
                error: (function (err) {
                    console.log(err)
                    alert('something went to wrong')
                })
              })
             })
    </script>




</body>
</html>