<!doctype html>
<html>
<body>

    <h2>html forms</h2>

    <form action="">

        <label for="fname">NewPassword:</label><br>
        <input type="password" id="password" name="password" value=""><br>
        <label for="fname">ConfirmPassword:</label><br>
        <input type="password" id="newpassword" name="password" value=""><br>





        <button type="submit" id="button">Submit</button>
    </form>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>
        $(document).ready(function () {
            $("#button").click(function (e) {
                var password = $('#password').val()
                var confirmpassword = $('#newpassword').val()


                var data = {
                    newpassword: password,
                    confirmpassword: confirmpassword
                }
                console.log(data)
                $.ajax({
                    type: 'POST',
                    url: "/Reset/ResetPassword",
                    data: data,
                    success: function () {
                        alert("employee Password Updated")
                    },
                    error: (function (err) {
                        console.log(err)
                        alert('something went to wrong')
                    })
                })
            })
        })

        
    </script>
</body>
</html>